body {
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
body{
    min-height:100vh;
    background-color:lightgray;
}

.global{
    width:100%;
}
#divContenido{
    padding: 0 15px;
    min-height:400px;
    margin:0 0 100px;
   
}